.payment-list {
    .main-btn {
        padding: 8px 28px;
    }

    .table-content {
        border-radius: 14px;
        padding: 10px;
        margin-top: 40px;

        .table {
            th {
                font-weight: $font-medium;
                color: #434343;
            }

            td {
                color: #838383;
                font-size: 15px;
                font-weight: $font-regular;
            }
        }
    }

    &.create {

        .table-content {
            padding: 7%;
        }

        .form-group {
            margin-bottom: 2rem;
        }

        label {
            font-size: 15px;
            font-weight: $font-medium;
        }

        .main-input {
            text-align: left;
        }

        .features {
            .custom-control {
                display: flex;
                flex-direction: row;
                align-items: center;

                .main-input {
                    padding: 5px 15px;
                    height: 45px;
                    font-size: 15px;
                }

                label {
                    font-size: 18px;
                    font-weight: $font-regular;
                    color: #A3A3A3;
                }
                .custom-control-input:checked ~ .custom-control-label::before {
                    color: #fff;
                    border-color: $main-green;
                    background-color:$main-green;
                }
            }
        }
    }
}

