body {
    font-family: Poppins, sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    background-color: #E5E5E5;
}

.main-input {
    height: 55px;
    border: none;
    font-size: 15px;
    font-weight: $font-regular;
    background-color: $input-bc;
    border-radius: 28px;
    text-align: center;
    padding: 0 20px;

    &:focus {
        background-color: $input-bc;
        border: 1px solid #069F8E;
        outline: none;
        box-shadow: none;
    }
}


.main-btn {
    border: 1px solid $main-green;
    padding: 10px 28px;
    border-radius: 26px;
    color: white;
    font-size: 16px;
    background-color: $main-green;
    font-weight: $font-semi-bold;

    &:focus {
        outline: none;
        box-shadow: unset;
    }

    &:hover {
        text-decoration: none;
        color: white;
    }
}

.cust-height {
    height: calc(100vh - 84px);
}

.page-head-wrap {
    color: #4A4A4A;
    font-weight: $font-medium;
    font-size: 20px;
    text-align: left;
    margin: 25px 0;
}

.add-clr {
    color: $main-green !important;
}

.edit {
    font-size: 18px;
    font-weight: $font-semi-bold;
    color: $main-green;
}

.delete {
    font-size: 18px;
    font-weight: $font-semi-bold;
    color: #F00E0E;
    margin-left: 20px;
    @include media-breakpoint-up(md) {
        margin-left: 35px;
    }
}


.cust-mar-top {
    margin-top: 40px;
}

.complain-wrap {
    background-color: #F5F5F5;
    padding: 10px 30px;
    margin-bottom: 30px;
    border-radius: 12px;
}

.body-content {
    padding: 7% 0;
    border-radius: 14px;
}

.complains-page {
    .body-content {
        padding: 4%;
        border-radius: 14px;
    }

    .title {
        font-weight: $font-medium;
        font-size: 18px;
        color: #272727;
        margin-bottom: 10px;
    }

    .description {
        font-size: 15px;
        font-weight: $font-medium;
        color: #7E7D7D;
    }

    .date {
        color: #7e7d7d99;
        font-size: 15px;
        font-weight: $font-regular;
    }
}
