.footer-wrap {
    padding: 15px 30px;
    background-color: $dark-blue;
    color: white;
    font-size: 15px;
    font-weight: $font-medium;

    .icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 19px;
        color: $dark-blue;
        position: relative;
        text-align: center;
        background-color: white;
        a{
            color: $dark-blue;
        }

        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        i {
            vertical-align: middle;
        }
    }
}
