.nav-wrap {
    .cust-nav {
        background-color: $dark-blue !important;
        padding: 1rem 3rem;

        .navbar-brand {
            font-size: 28px;
            font-weight: $font-semi-bold;
            color: white;
        }

        .navbar-nav {
            .nav-item {
                border: 1px solid transparent;
                margin: 0 20px;

                .nav-link {
                    font-size: 18px;
                    font-weight: $font-semi-bold;
                    color: white !important;
                }

                &.log-btn {
                    border: 1px solid white;
                    border-radius: 24px;
                    padding: 0 20px;
                    color: white;
                    background-color: $main-green;

                    .nav-link {
                        padding: 0.5rem 1rem;
                    }

                }
            }
        }

        .profile-log-wrap {
            img {
                width: 46px;
                height: 46px;
                margin-right: 10px;
                border-radius: 50%;
            }

            span{
                color: white;
                font-size: 18px;
                font-weight: $font-semi-bold;
            }
        }
    }
}

