.side-bar {
    background-color: #02272F;
    height: 100%;
    color: white;
    padding: 60px 0;

    .side-nav-link {
        text-transform: uppercase;
        display: block;
        border-bottom: 1px solid #ffffff33;
        text-decoration: none;
        padding: 20px;
        color: white;
        font-size: 13px;
        font-weight: $font-medium;
        border-left: 5px solid transparent;

        &.active {
            border-left: 5px solid #00C7B2;
            /*background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.3533788515406162) 0%, rgba(255, 255, 255, 0.29175420168067223) 52%, rgba(255, 255, 255, 0) 100%);
         */
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.29175420168067223) 0%, rgba(255, 255, 255, 0.22452731092436973) 52%, rgba(255, 255, 255, 0) 100%);
        }

        &:first-child {
            border-top: 1px solid #ffffff33;

            span {
                position: relative;
                top: -2px;
            }
        }

        span {
            margin-right: 20px;
        }
    }
}
