$main-green: #00C7B2;
$main-back: #E5E5E5;
$dark-gray: #868686;
$dark-black: #3E3E3E;
$light-gray: #F7F7F7;
$secondary-green: #029B8B;
$dark-blue: #003643;
$para-color: #868686;
$input-bc: #F5F5F5;
$font-light: 300;
$font-regular: 400;
$themeGray1: gray;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 900;
